# Ignore the database being run
# since SQLite might change it during runtime
# + sessions will be stored in it in some examples
# if the live.db is missing the backend will create it
# from template.db
backend/databases/live.sqlite3

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend files
backend/bin*
backend/bin/Debug/net8.0/Backend.dll
backend/bin/Debug/net8.0/Backend.exe
backend/bin/Debug/net8.0/Backend.pdb
backend/obj/Debug/net8.0/apphost.exe
backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
backend/obj/Debug/net8.0/Backend.dll
backend/obj/Debug/net8.0/Backend.pdb
backend/obj/Debug/net8.0/Backend.sourcelink.json
backend/obj/Debug/net8.0/ref/Backend.dll
backend/obj/Debug/net8.0/refint/Backend.dll